<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.xghk416.pojo.bili.mapper.BiliUploaderRankDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.project.xghk416.pojo.bili.BiliUploaderRankPo">
        <id column="id" property="id" />
        <result column="uploader_id" property="uploaderId" />
        <result column="score" property="score" />
        <result column="section" property="section" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uploader_id, score, section, create_time
    </sql>

</mapper>
