<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.xghk416.pojo.api.mapper.ApiParamsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.project.xghk416.pojo.api.ApiParamsPo">
        <id column="id" property="id" />
        <result column="api_id" property="apiId" />
        <result column="api_param" property="apiParam" />
        <result column="param_abstract" property="paramAbstract" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, api_id, api_param, param_abstract
    </sql>

</mapper>
