<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.xghk416.pojo.operate.mapper.MoLogOperaDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.project.xghk416.pojo.operate.MoLogOperaPo">
        <id column="id" property="id" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="operate_type" property="operateType" />
        <result column="table_name" property="tableName" />
        <result column="table_Id" property="tableId" />
        <result column="serve_name" property="serveName" />
        <result column="log_id" property="logId" />
        <result column="operate_level" property="operateLevel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_user, create_time, operate_type, table_name, table_Id, serve_name, log_id, operate_level
    </sql>

</mapper>
